.main{
border: 2px solid black;
display: flex;
justify-content: center;
align-items: center;
min-height: 95vh;
    }



.container{
height: 400px;
width : 400px;
border: 2px solid black;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
    }

.playBtn{
height:120px;
width: 120px;
margin: 2px;
    }
